<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://www.artic.edu/iiif/2/{{art?.image_id}}/full/843,/0/default.jpg" [alt]="art?.thumbnail?.alt_text">

        <div class="card-body">
                <h5 class="card-title">{{art?.title |slice:0:90}}</h5>
          <p class="card-text">{{art?.artist_title |slice:0:200}}</p>
          <!-- <p>{{art?.description}}</p> -->
          <button (click)="addToWishlist()" class="btn btn-primary">Add to wishlist</button>
          <button (click)="viewDetails()" routerLink="/description"  class="btn btn-primary ms-3">View Art</button>
        </div>
</div>