<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />



<div class="body" style="background-color:rgb(247,247,247)">

  <div class="mainhome">
    <div class="container">
      <h1>Welcome to Art Museum of</h1>
      <h1> Chicago Artworks</h1>
      <p>Explore the world of endless art</p>
    </div>
  </div>


  <nav class="nav">
    <div class="container">
      <h1 class="logo"><a href="#"><i class="fa-solid fa fa-paint-brush"></i>Art Museum</a></h1>
      <div class="contain mt-3 mb-15">
        <div class="row justify-content-center">

          <form [formGroup]="searchForm" class="d-flex">
            <mat-form-field class="me-2">
              <mat-label>Search art</mat-label>
              <input matInput formControlName="searchQuery" id="searchQueryInput" />
            </mat-form-field>
          </form>

        </div>
      </div>

      <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/wishlist">Wishlist</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h3 class="name">ART WORKS</h3>
  </div>


  <div class="col-lg-12 d-flex justify-content-center">
    <div class="row d-flex justify-content-center flex-wrap w-100">
      <app-card *ngFor="let id of artworkIds" [artwork_id]="id"
        class="d-flex justify-content-center col-lg-3 ms-5 me-5 mb-2"></app-card>
    </div>
  </div>

  <mat-paginator [pageSizeOptions]="[9, 12, 24, 98]" [pageSize]="pageSize" (page)="handlePageChange($event)"
    [pageIndex]="currentPageIndex" [length]="pageLength" showFirstLastButtons></mat-paginator>
</div>